.navbar{padding:0px;}
.navbar-brand{margin-left:8px;}
.flex-nowrap{margin: 10px;}
.card{margin: 50px 10px 0px 10px;}
.card-body{ width: 60%;}
.form-control desc{width: 80%;}
.mb-3, .my-3{margin-left:9px;}
.custom-select{height:42px;}
.btn-primary{ margin-left: 18px;}