
body {
	font-family: 'Roboto', sans-serif;
}
.panel-default{margin: 10px;}
.btn-primary{margin-left: 0px;}
.navbar-brand {margin: 10px;}  
.navbar-brand>img{margin: -20px;margin-left: 5px;}

.link-panel{float: right;}
.titulo-panel{float: left; padding-top:5px; }

@font-face{
    font-family:'Glyphicons Halflings';
    src:url(../fonts/glyphicons-halflings-regular.eot);
    src:url(../fonts/glyphicons-halflings-regular.woff2);
    src:url(../fonts/glyphicons-halflings-regular.woff);
}