<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<nav class="navbar  navbar-light" style="background-color: #e3f2fd;">
		<a class="navbar-brand" href="#"> <img src="/image/algaworks.png"
			width="150" height="60" class="d-inline-block align-top"
			alt="Algworks">
		</a>
	</nav>

<form action="/boletos" method="POST">
	<div class="card">
		<h5 class="card-header">Novo titulo</h5>
		<div class="card-body">

			<div class="input-group flex-nowrap">
				<div class="input-group-prepend">
					<span class="input-group-text" id="addon-wrapping">Descriçao</span>
				</div>
				<input type="text" class="form-control desc" name="descricao"
					aria-label="Descriçao" aria-describedby="addon-wrapping">
			</div>
			
			<div class="input-group flex-nowrap">
				<div class="input-group-prepend">
					<span class="input-group-text" id="addon-wrapping">Data venc</span>
				</div>
				<input type="text" class="form-control" placeholder="" name="vencimento"
					aria-label="Data de vencimento" aria-describedby="addon-wrapping">
			</div>
			
			<div class="input-group flex-nowrap">
				<div class="input-group-prepend">
					<span class=" input-group-text" id="addon-wrapping">Valor</span>
				</div>
				<input type="text" class="form-control" placeholder="" name="valor"
					aria-label="Valor" aria-describedby="addon-wrapping">
			</div>
			
			<select class="custom-select custom-select-lg mb-3" name="status">
			  <option value="PENDENTE">Pendente</option>
			  <option value="RECEBIDO">Recebido</option>
			</select>



			<button type="submit" class="btn btn-primary">Salvar</button>
		</div>
	</div>
</form>
	<script src="/javascript/bootstrap.min.js"></script>
</body>
</html>